body{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.greetings__name{
    align-items: center;
    display: flex;
    justify-content: center;
    transform: translate(0, 300%);
    opacity: 0;
}

.input__name, .input__task{
    white-space: no-wrap;
    font-family: "Montserrat", sans-serif;
    border: none;
    background: transparent;
    transition: 0.5s;
    height: 40px;
    outline: none;
    font-size: 2em;
    color: white;
}

.input__name{
    text-align: center;
    width: 190px;
}

.input__task{
    text-align: center;
    width: 400px;
}

.input__name::-webkit-input-placeholder, .input__task::-webkit-input-placeholder{
    color: white;
}

.input__name:hover, .input__name:focus, .input__task:hover, .input__task:focus{
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.2);
}

.timer__container{
    width: 44%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    transform: translate(0, 300%);
    opacity: 0;
    display: flex;
}

h1{
    font-size: 7em;
    line-height: 0.5em;
    margin-bottom: 15px;
}

h3{
    font-size: 2em;
}

.addictional__text{
    font-size: 1.2em;
    transform: translate(0, 300%);
    opacity: 0;
}